* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
    color: white;
    width: 100%;
    min-height: 100dvh;
}
#pagination {
    width: max-content;
    margin: 30px auto 0 auto;
}
#pagination button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
#pagination .active {
    background-color: #4caf50;
    color: white;
}
#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
}
.cardPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px 0;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    img {
        aspect-ratio: 1;
        object-fit: cover;
    }
}

